<html>
    <head>
        <title>View a Sighting</title>
    </head>
    <style>
          body {
          background-color: linen; 
          }
    </style>
<body>
    <h1>View your sightings</h1>
        {% if sightings | length > 0 %}
            Here are your sightings:
            <form action="{{url_for('editSighting')}}" method="post">
                <table border="1">
                    <td><b>Email</b></td>
                    <td><b>Species</b></td>
                    <td><b>Date and Time</b></td>
                    <td><b>Longitude</b></td>
                    <td><b>Latitude</b></td>
                    <td><b>State Name</b></td></tr>
                {% for entry in sightings %}
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.species }}</td>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.longitude }}</td>
                    <td>{{ entry.latitude }}</td>
                    <td>{{ entry.statename }}</td></tr>
                {% endfor %}
                </table>
                
                <br><a href="{{ url_for('homeMain') }}">Return to homepage</a>
            </form>
        
        {% else %}
            There are no sightings for your account.
            <p>
            <a href="{{ url_for('homeMain') }}">Return to homepage</a>
        {% endif %}
</body>
</html>